* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border: 1px solid transparent;
  text-transform: uppercase;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: auto;
}

/* start header */

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_content nav {
  display: flex;
  align-items: center;
}

.header_content ul {
  display: flex;
  margin-right: 30px;
}

.header_content li {
  padding: 55px 15px;
  display: inline;
}

.header_content li a {
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

.header_content li:hover a {
  color: #f55f8d;
}

.header_content li i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}

.header_content a span {
  display: inline-block;
  transition: all 0.3s;
}

.header_content a:hover span {
  animation: upToDown 0.3s;
}

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* end header */

/* start carousel */

.carousel {
  background-image: url(../image/pic2.png);
  background-position: top;
  background-size: 100%;
  padding-top: 180px;
}

.carousel .container {
  display: flex;
  align-items: center;
}

.carousel .title {
  width: 60%;
}

.carousel .picture {
  width: 40%;
}

.carousel .banner {
  margin-left: 50px;
  width: 570px;
}

.carousel .banner img {
  max-width: 100%;
}

.title .p_first {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
  line-height: 1.1;
}

.title_list p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #6b6b6b;
  font-weight: 400;
}

.carousel .title_list i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  color: white;
  font-weight: 900;
  margin-right: 10px;
  border-radius: 50%;
}

.carousel .title_list li {
  font-size: 20px;
  padding: 10px 0;
}

.carousel .title_list ul {
  margin-bottom: 20px;
}

/* end carousel */

/* start service */

.service {
  text-align: center;
  padding-top: 115px;
  background-image: url(../image/bg2.png);
  background-size: cover;
  background-position: top center;
}

.service_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}

.service_content .service_item {
  padding: 30px 40px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: all 0.5s;
}

.service_item:hover {
  transform: translateY(-20px);
}

.service_item img {
  width: 215px;
}

.service_item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* end service */

/* start about */

.about {
  background-image: url(../image/bg15.png);
  background-position: center right;
  background-size: 100%;
  padding: 115px 0 85px;
  background-repeat: no-repeat;
}

.about .container {
  align-items: center;
}

.about .about_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.about .picture {
  width: 60%;
  position: absolute;
  left: -17%;
}

.about .picture img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.about .title {
  width: 50%;
}

.title_list p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #6b6b6b;
  font-weight: 400;
}

.about .title_list i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 5px;
  vertical-align: middle;
}

.about .title_list li {
  font-size: 16px;
}

.about .title_list ul {
  margin-bottom: 20px;
}

/* end about */

/* start number */

.number {
  background-image: url(../image/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number_content {
  display: flex;
  justify-content: space-around;
}

.number_item {
  width: 25%;
}

.number_item i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 80px;
  height: 80px;
  color: white;
  font-size: 45px;
  display: inline-block;
  border-radius: 50%;
  line-height: 80px;
}

.number_item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
  margin-top: 15px;
}

.number_item p:last-of-type {
  font-size: 18px;
  color: #262626;
}

/* end number */

/* start feature */

.feature {
  background-image: url(../image/bg2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 115px;
}

.feature .container {
  display: flex;
  align-items: center;
}

.feature .title {
  width: 50%;
}

.feature .picture {
  width: 50%;
}

.feature .banner {
  margin-left: 50px;
  width: 570px;
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

.feature .banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

.feature_group {
  padding: 0 50px 30px 0;
}

.feature_group:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.feature_item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  display: flex;
  align-items: center;
  transition: 1s;

  position: relative;
}

.feature_item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.feature_item:hover::after {
  opacity: 1;
}

.feature_item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  transition: 1s;
  z-index: 1;
}

.feature_item .content {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.feature_item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: 1s;
}

.feature_item:hover .content,
.feature_item:hover h3,
.feature_item:hover i {
  color: #fff !important;
}

/* end feature */

/* start portfolio */

.portfolio {
  padding-top: 115px;
  text-align: center;
  background-image: url(../image/bg17.png);
  background-size: cover;
  background-position: top center;
}

.portfolio_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 35px;
}

.portfolio_item {
  border-radius: 10px;
  position: relative;
}

.portfolio_item1 {
  grid-column: 1 / span 2;
}

.portfolio_item5 {
  grid-column: 1 / span 2;
}

.portfolio_item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio_item img {
  width: 100%;
  height: 100%;
}

.portfolio_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
  color: #ffffff;
  overflow: hidden;
}

.portfolio_overlay::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio_overlay:hover::before {
  left: 125%;
}

.portfolio_item:hover .portfolio_overlay {
  opacity: 1;
}

.portfolio_overlay .portfolio_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  width: 50px;
  height: 50px;
  font-size: 28px;
  display: inline-block;
  border-radius: 10px;
  line-height: 50px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio_item:hover .portfolio_icon {
  transform: translate(0);
}

.portfolio_overlay .portfolio_text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio_item:hover .portfolio_text {
  transform: translateY(0);
}

.portfolio_text h3 {
  font-size: 22px;
}

/* end portfolio */

/* start plan */

.plan {
  text-align: center;
  padding-top: 115px;
  background-image: url(../image/bg2.png);
  background-size: cover;
  background-position: top center;
}

.plan_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 40px;
}

.plan_content .plan_item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 35px 60px;
  border: 3px solid transparent;
  border-image: 100 round;
  transition: all 0.5s;
}

.plan_item:hover {
  border-image: url(../image/br.png) 1 round;
  cursor: pointer;
}

.plan_item img {
  width: 125px;
}

.plan_item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plan_item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plan_item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plan_item ul {
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
  text-align: left;
}

.plan_item ul li {
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}

.plan_item ul i {
  background: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: 15px;
}

/* end plan */

/* start blog */

.blog {
  text-align: center;
  padding-top: 115px;
  background-image: url(../image/bg16.png);
  background-size: cover;
  background-position: top center;
  padding-bottom: 50px;
}

.blog_item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog_header {
  position: relative;
}

.blog_header img {
  width: 100%;
  border-radius: 8px;
}

.blog_header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: -20px;
  left: 18px;
}

.blog_body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog_body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog_footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer p:first-of-type {
  margin-right: 20px;
}

.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog_footer p:first-of-type span {
  color: #f55f8d;
}

/* end blog */

/* start footer */

footer {
  background-image: url(../image/bg4.png);
  background-color: #0e1b1f;
  display: block;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer .footer_top {
  background-color: white;
  background-image: url(../image/pattern3.png);
  padding: 50px 60px;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  display: flex;
  position: relative;
  transition: all 0.5s;
}

.footer_top .footer_text,
.footer_top .footer_form {
  width: 50%;
}

.footer_text h2 {
  font-size: 28px;
  color: #262626;
}

.footer_form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer_form input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: white;
  flex: 1 1 auto;
  border-radius: 16px 0 0 16px;
  border: 1px solid white;
  transition: all 0.5s;
}

.footer_form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 0 16px 16px 0;
  transition: all 0.5s;
  color: white;
  border-color: transparent;
  cursor: pointer;
}

.footer_form input:focus,
.footer_form input:hover {
  border-color: #f55f8d;
}

.footer_bottom {
  display: flex;
  padding: 70px 0;
  /* position: relative; */
}

.footer_bottom .footer_item {
  width: 25%;
}

.footer_item li {
  padding: 8px 0;
  transition: all 0.5s;
}

.footer_contact li {
  display: flex;
  align-items: center;
}

.footer_contact i {
  height: 40px;
  width: 40px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}

.footer_item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
}

.footer_item h3::after,
.footer_item h3::before {
  content: "";
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
}

.footer_item h3::before {
  width: 15px;
}

.footer_item h3::after {
  left: 20px;
  width: 45px;
}

.footer_item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer_item a:hover {
  color: white;
}

.footer_item i {
  margin-right: 10px;
  font-weight: 700;
}

.footer_copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer_copyright .footer_content {
  display: flex;
  justify-content: space-between;
}

.copyright_left span {
  color: #f55f8d;
}

.copyright_right a {
  background-color: rgba(255, 255, 255, 0.1);
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  display: inline-block;
}

.copyright_right a:hover {
  background: #f55f8d;
}

/* end footer */

/* start testimonial */

.testimonial {
  text-align: center;
  padding-top: 115px;
  background-image: url(../image/bg17.png);
  background-size: cover;
  background-position: top center;
  padding-bottom: 50px;
}

/* end testimonial */

.cd-top--is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
